.title-text {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px grey;
}

.title-div {
  /* background: linear-gradient(0.25turn, #0f3460, #16213e, #1a1a2e); */
  background: #0f3460;
  box-shadow: 5px 5px 15px -3px #000000;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: 15px;
}

.homeIcon {
  position: absolute;
  left: 25px;
  color: white;
}
